
/******************************************************/
/*					PROFILE							  */
/******************************************************/

/* ----------- Content ----------- */

h2{
	font-size: 1.7em;
	margin: 30px;

}

a{
	text-decoration: none;
	color: rgba(255,30,0,0.6);
}

a:hover{
	text-decoration: underline;
}

.info{
	margin-bottom: 15px;
}

.label{
	margin: 30px;
	font-size: 1.1em;
	border-bottom: 1px solid rgba(255,30,0,0.6);
}

/* ----------- List ----------- */

#answer_list{
	width: 100%;
	height: 100%;
	overflow-y: scroll;

	box-shadow: inset 0px 11px 8px -10px #111,
	        	inset 0px -11px 8px -10px #111; 
}

#answer_list .btn{
	display: block;
	opacity: 0;
	margin: 0;
	margin-bottom: 5px;
	padding: 2px 30px;
	padding-bottom: 0;
	-webkit-transition: opacity linear .3s;
}

.answer{
	margin: 0 30px;
	padding: 30px 15px 45px;
	font-family: sans-serif;
}

.answer:not(:last-child){
	border-bottom: 1px solid #999;
}

.answer .infos{
	float: right;
	color: rgba(255,30,0,0.7);
	font-size: 0.7em;
}

.answer .title{
	max-width: 400px;
	padding-bottom: 10px;
	color: white;
	font-size: 1.2em;
}

.answer .descr{
	max-width: 400px;
	color: #ccc;
	font-size: 0.8em;
}

.actions{
	float: right;
}

#answer_list .answer:hover .btn{
	opacity: 1;
}