
/******************************************************/
/*					CHALLENGE						  */
/******************************************************/

/* ----------- Tabs ----------- */
#challenge_tab,
#admin_challenge_tab{
	background: url(../img/red_stripes.gif);
	font-weight: bold;
}

/* ----------- List ----------- */

#question_list{
	width: 100%;
	height: 100%;
	overflow-y: scroll;

	box-shadow: inset 0px 11px 8px -10px #111,
	        	inset 0px -11px 8px -10px #111; 
}

#question_list .btn{
	display: block;
	opacity: 0;
	margin: 0;
	margin-bottom: 5px;
	padding: 2px 30px;
	padding-bottom: 0;
	-webkit-transition: opacity linear .3s;
}

.question{
	margin: 0 30px;
	padding: 30px 15px 45px;
	font-family: sans-serif;
}

.question:not(:last-child){
	border-bottom: 1px solid #999;
}

.question .infos{
	float: right;
	color: rgba(255,30,0,0.7);
	font-size: 0.7em;
}

.question .title{
	max-width: 400px;
	padding-bottom: 10px;
	color: white;
	font-size: 1.2em;
}

.question .descr{
	max-width: 400px;
	color: #ccc;
	font-size: 0.8em;
}

.actions{
	float: right;
}

#question_list .question:hover .btn{
	opacity: 1;
}



/*#exercises_base{
	box-sizing: border-box;
	position: absolute;
	width: 40%;
	min-width: 400px;
	max-width: 600px;
	height: 100%;
	overflow-y: scroll;
}

#exercises_questions{
	position: absolute;
	left: 40%;
	width: 60%;
	height: 100%;
	overflow-y: scroll;

	box-shadow: inset 0px 11px 8px -10px #111,
	        	inset 0px -11px 8px -10px #111; 
}

fieldset.question{
	padding: 15px 0;
}*/