
/******************************************************/
/*					PROFILE							  */
/******************************************************/

/* ----------- Tabs ----------- */
#profile_tab{
	background: url(../img/red_stripes.gif);
	font-weight: bold;
}

/* ----------- Content ----------- */

h2{
	font-size: 1.7em;
	margin: 30px;

}
